@media only screen and (min-width: 1000px) {
  /* Animation css */

  div.animation {
    max-width: 90%;
    text-align: center;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    font-size: 30px;
    border-radius: 15px;
    font-family: sans-serif;
    font-weight: 700;
    box-shadow: 10px 12px 0px 4px;
    border: solid black 5px;
    padding: 0.5em;
  }

  @keyframes slidein {
    0% {
      margin-bottom: 100px;
      margin-top: 0%;
    }
    50% {
      margin-top: 100px;
      margin-bottom: 0%;
    }
    100% {
      margin-bottom: 100px;
      margin-top: 0%;
    }
  }

  html {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    align-items: center;
  }

  img {
    max-width: 200px;
  }

  main {
    margin-top: 5rem;
  }

  h1.title {
    margin-right: 6em;
    font-size: 50px;
    font-weight: 600;
    width: 200px;
  }

  .opening_para {
    margin: 1em auto;
    font-size: 25px;
    font-weight: 600;
    padding: 2em;
    text-align: center;
    border: dashed black 6px;
    border-radius: 20px;
  }

  .para_part2 {
    font-size: 35px;
    margin-top: 20px;
    font-style: oblique;
  }

  #zipcode {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .userinput {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 800;
  }

  #userinput {
    font-size: 50px;
    max-width: 250px;
    padding: .5em;
    font-weight: bold;
    text-align: center;
    outline: none;
  }

  .userinput_button {
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
  }

  .userinput_button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid white;
  }

  .userinput_button:active {
    background-color: white;
    color: black;
  }

  .divider {
    background-color: white;
  }

  #cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  #cards section {
    display: grid;
    border: solid black 5px;
    border-radius: 10px;
    padding: 1em;
  }

  #restaurantName {
    text-align: left;
    max-width: 550px;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .para_title {
    text-align: center;
    max-width: 95%;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }

  div p1,
  p2,
  p3,
  p4 {
    font-size: 25px;
    margin-left: 2em;
    margin: 1em;
  }

  footer {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
  }

  @media only screen and (min-width: 1950px) and (max-width: 4000px) {
    header {
      margin: 0 auto;
      max-width: 70%;
      display: flex;
      gap: 12em;
      align-items: center;
    }
  }
}
