header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main {
    background-color: gray;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}