

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15rem;

}
#title-big{
    margin-left: -3rem;
}

main {

    background-color: gray;

}
#zipcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Restaurants{
    display: flex;
    justify-content: center;
    column-gap: 15rem;
    
}
div article{
    border-style: solid;
    justify-content: center;

}

.assignment{
    display: flex;
    justify-content: center;
}

#last_modification{
    display: flex;
    flex-direction: row;

    justify-content: center;

}
footer {

}